* {
	box-sizing: border-box;
}

body, main, figure {
	margin: 0;
}

header {
	min-height: 400px;
	max-height: 600px;
	background: lightblue;
	text-align: center;
}

nav, footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	padding: 10px;
	background: lightblue;
}

main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 15px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}